@page
@model PrivacyModel
@using Models
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* @await Component.InvokeAsync("ProductBox") *@

@* Bai 3 *@
@{
    List<Productlast> productList = new List<Productlast>();

    for(int i = 0; i < 10; i++)
    {
        var product = new Productlast() { Name = "Ip" + i, Description = "Dien thoai" + i, Price = 1000 + i};
        productList.Add(product);
    }
}

<div class="row">
    @for(int i = 0; i < 10; i++)
    {
        <div class="col">
            @await Html.PartialAsync("_ProductItem", productList[i])
        </div>
    }
</div>