@using Models;
@model List<Productlast>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col">

            @* <li class="list-group-item">
        @product.Name;
        </li> *@
            @await Html.PartialAsync("_ProductItem", product)

    </div>
    }
</div>